* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.full_page {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.home_container {
  max-width: 1248px;
  border: 1px solid rgba(115, 113, 113, 0.63);
  padding: 20px;
  margin: 0 auto 60px;
  border-bottom-left-radius: 44px;
  border-bottom-right-radius: 44px;
  background-color: #fffdfd;
  box-shadow: 0px 0px 33px 16px rgba(0, 0, 0, 0.25);
}

.black_Back {
  background-color: #2f2f2f;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.white_back {
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 1248px) {
  .home_container {
    margin: 0 20px 60px;
  }
}

@media (max-width: 768px) {
  .home_container {
    margin: 0 10px 40px;
    border-radius: 20px;
  }

  .black_Back,
  .white_back {
    padding: 20px 10px;
  }
}

@media (max-width: 480px) {
  .home_container {
    margin: 0 5px 30px;
    padding: 15px 10px;
    border-radius: 15px;
  }

  .black_Back,
  .white_back {
    padding: 15px 5px;
  }
}
